# .gitignore
.venv/
.vscode/
.git/
__pycache__/
.pytest_cache/
.VSCodeCounter/
assets/
_build/
build/
source/
resource/
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib
*.egg-info
*.egg
*.dist-info
*.whl
*.pyi
*.prof
*.ini
*.bat
*.html
Makefile
*.png